.image:hover {
    cursor: pointer
}

@media (min-width: 0px) {
    .image {
        height: 80px;
    }
}

@media (min-width: 600px) {
    .image {
        height: 120px;
    }
}

@media (min-width: 960px) {
    .image {
        height: 160px;
    }
}


